.dice {
  transform-style: preserve-3d;
  transform: rotateY(185deg) rotateX(150deg) rotateZ(315deg);
  animation: rotate 15s linear infinite;

  .side {
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: "";
      width: 20%;
      height: 20%;
      border-radius: 50%;
    }
  }

  .side-1 {
    transform: translateZ(14px);
  }

  .side-2 {
    transform: translateX(-14px) rotateY(-90deg);

    &:before {
      background: transparent;
      box-shadow: #FCBE20 -7px -7px 0px 0px, #FCBE20 7px 7px 0px 0px;
    }
  }

  .side-3 {
    transform: translateY(14px) rotateX(90deg);

    &:before {
      box-shadow: #FCBE20 -7px 7px 0px 0px, #FCBE20 7px -7px 0px 0px;
    }
  }

  .side-4 {
    transform: translateY(-14px) rotateX(90deg);

    &:before {
      background: transparent;
      box-shadow: #FCBE20 -7px 7px 0px 0px,
      #FCBE20 -7px -7px 0px 0px,
      #FCBE20 7px 7px 0px 0px,
      #FCBE20 7px -7px 0px 0px;
    }
  }

  .side-5 {
    transform: translateX(14px) rotateY(90deg);

    &:before {
      box-shadow: #FCBE20 -7px -7px 0px 0px,
      #FCBE20 -7px 7px 0px 0px,
      #FCBE20 7px -7px 0px 0px,
      #FCBE20 7px 7px 0px 0px;
    }
  }

  .side-6 {
    transform: translateZ(-14px);

    &:before {
      background: transparent;
      box-shadow: #FCBE20 -7px -7px 0px 0px,
      #FCBE20 -7px 0px 0px 0px,
      #FCBE20 -7px 7px 0px 0px,
      #FCBE20 7px -7px 0px 0px,
      #FCBE20 7px 0px 0px 0px,
      #FCBE20 7px 7px 0px 0px;
    }
  }

  @media screen and (max-width: 1024px) {
    .side-1 {
      transform: translateZ(10px);
    }

    .side-2 {
      transform: translateX(-10px) rotateY(-90deg);

      &:before {
        box-shadow: #FCBE20 -5px -5px 0px 0px, #FCBE20 5px 5px 0px 0px;
      }
    }

    .side-3 {
      transform: translateY(10px) rotateX(90deg);

      &:before {
        box-shadow: #FCBE20 -5px 5px 0px 0px, #FCBE20 5px -5px 0px 0px;
      }
    }

    .side-4 {
      transform: translateY(-10px) rotateX(90deg);

      &:before {
        box-shadow: #FCBE20 -5px 5px 0px 0px,
        #FCBE20 -5px -5px 0px 0px,
        #FCBE20 5px 5px 0px 0px,
        #FCBE20 5px -5px 0px 0px;
      }
    }

    .side-5 {
      transform: translateX(10px) rotateY(90deg);

      &:before {
        box-shadow: #FCBE20 -5px -5px 0px 0px,
        #FCBE20 -5px 5px 0px 0px,
        #FCBE20 5px -5px 0px 0px,
        #FCBE20 5px 5px 0px 0px;
      }
    }

    .side-6 {
      transform: translateZ(-10px);

      &:before {
        box-shadow: #FCBE20 -5px -5px 0px 0px,
        #FCBE20 -5px 0px 0px 0px,
        #FCBE20 -5px 5px 0px 0px,
        #FCBE20 5px -5px 0px 0px,
        #FCBE20 5px 0px 0px 0px,
        #FCBE20 5px 5px 0px 0px;
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotateY(0) rotateX(30deg) rotateZ(30deg);
  }
  to {
    transform: rotateY(360deg) rotateX(30deg) rotateZ(30deg);
  }
}
