.vc-dark {
  --vc-popover-content-bg: #112811;
  --vc-nav-hover-bg: #1D391D;
  --vc-day-popover-container-border: #1D391D;
  --vc-popover-content-border: #1D391D;
  --vc-time-select-group-border: #1D391D;
  --vc-header-arrow-hover-bg: #1D391D;
  --vc-time-select-group-bg: #112811;
  --vc-time-picker-border: #1D391D;
  --vc-focus-ring: #259F4F;
  --vc-color: white;
  --vc-bg: #1D391D;
  --vc-border: #1D391D;
  --vc-hover-bg: #1D391D;
  --vc-header-arrow-color: #ACCCAC;
  --vc-header-title-color: #259F4F;
  --vc-select-color: var(--vc-gray-200);
  --vc-select-bg: #1D391D;
  --vc-select-hover-bg: #1D391D;
  --vc-day-content-hover-bg: #1D391D;
  --vc-day-content-disabled-color: #315031;
}

.vc-highlights.vc-day-layer {
  background: #1D391D;
  border-radius: 100%;
}
