.swiper {
  width: 100%;
  height: 100%;
  overflow-x: clip;
  overflow-y: unset;

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
    height: calc(100% + 8px);
    bottom: 0;
    top: unset;
    margin-top: 0;

    &::after {
      content: '';
      height: 100%;
      width: 43px;
    }

    &.swiper-button-disabled {
      display: none;

      &::after {
        content: '';
        height: 0;
        width: 0;
      }
    }
  }

  @media (min-width: 1020px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: flex;
    }

    .swiper-button-prev:not(.swiper-button-disabled) {
      left: 0;

      &::after {
        background-image: linear-gradient(90deg, #011701 2.06%, rgba(1, 23, 1, 0.72) 15.44%, rgba(1, 23, 1, 0.00) 40.94%);
      }
    }

    .swiper-button-next {
      right: 0;

      &::after {
        background-image: linear-gradient(270deg, #011701 2.06%, rgba(1, 23, 1, 0.72) 15.44%, rgba(1, 23, 1, 0.00) 40.94%);
      }
    }
  }

  &.disabled-swiper {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }

  &.disabled-swiper-front {
    .swiper-button-prev {
      display: none;
    }
  }

  &.disabled-swiper-back {
    .swiper-button-next {
      display: none;
    }
  }

  .swiper-pagination {
    display: none;
  }
}

