/*
 * Scrollbar rail styles
 */
@layer utilities {
  .ps .ps__rail-x {
    @apply absolute hidden opacity-0 h-1 md:h-1.5 bottom-0;
  }

  .ps .ps__rail-y {
    @apply absolute hidden opacity-0 w-2 md:w-2.5 right-0;
  }

  .ps .ps--active-x > .ps__rail-x,
  .ps .ps--active-y > .ps__rail-y {
    @apply block bg-transparent;
  }

  .ps:hover > .ps__rail-x,
  .ps:hover > .ps__rail-y,
  .ps--focus > .ps__rail-x,
  .ps--focus > .ps__rail-y,
  .ps--scrolling-x > .ps__rail-x,
  .ps--scrolling-y > .ps__rail-y {
    @apply opacity-100! bg-transparent!;
  }

  .ps .ps__rail-x:hover,
  .ps .ps__rail-y:hover,
  .ps .ps__rail-x:focus,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-x.ps--clicking,
  .ps .ps__rail-y.ps--clicking {
    @apply opacity-100! bg-green-900!;
  }

  /*
   * Scrollbar thumb styles
   */
  .ps .ps__thumb-x {
    @apply bottom-0 h-1 md:h-1.5 rounded-md bg-divider-dark!;
  }

  .ps .ps__thumb-y {
    @apply right-0.5 w-1 md:w-1.5 rounded-md bg-divider-dark!;
  }

  .ps .ps__rail-x:hover > .ps__thumb-x,
  .ps .ps__rail-x:focus > .ps__thumb-x,
  .ps .ps__rail-x.ps--clicking .ps__thumb-x {
    @apply h-1 md:h-1.5 bg-border!;
  }

  .ps .ps__rail-y:hover > .ps__thumb-y,
  .ps .ps__rail-y:focus > .ps__thumb-y,
  .ps .ps__rail-y.ps--clicking .ps__thumb-y {
    @apply w-1 md:w-1.5 bg-border!;
  }

  /* MS supports */
  @supports (-ms-overflow-style: none) {
    .ps {
      overflow: auto !important;
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps {
      overflow: auto !important;
    }
  }

  & ::-webkit-scrollbar {
    @apply bg-transparent! w-1 h-1 md:w-1.5 md:h-1.5 border-0 ring-0 p-0;
  }

  & ::-webkit-scrollbar-track {
    @apply bg-transparent! p-0;
  }

  & ::-webkit-scrollbar-thumb {
    @apply bg-border! hover:bg-green-950! rounded;
  }

  & ::-webkit-scrollbar-corner {
    @apply bg-transparent!;
  }
}
