@theme {
  /* Box shadow */
  --shadow-primary-box: 0px 4px 0px 0px #156B33;
  --shadow-primary-hover-box: 0px 8px 0px 0px #156B33;
  --shadow-dark-box: 0px 4px 0px 0px #152F15;
  --shadow-gold-box: 0px 4px 0px 0px #F5AC33;
  --shadow-dark-hover-box: 0px 8px 0px 0px #152F15;
  --shadow-failed-box: 0px 4px 0px 0px #254025;
  --shadow-primary-inset: inset 0px 2px 4px #156B33;
  --shadow-dark-box-inset: inset 0px 2px 4px #152F15;
  --shadow-sidebar: 2px 2px 6px #021902;
  --shadow-header: 0 3px 6px #021902;
  --shadow-navbar: 0 -4px 6px #021902;
  --shadow-plinko-primary: 0px 2px 0px 0px #22974A;
  --shadow-plinko-8: 0px 2px 0px 0px #E96301;
  --shadow-plinko-7: 0px 2px 0px 0px #F67702;
  --shadow-plinko-6: 0px 2px 0px 0px #F68402;
  --shadow-plinko-5: 0px 2px 0px 0px #F69202;
  --shadow-plinko-4: 0px 2px 0px 0px #F79F01;
  --shadow-plinko-3: 0px 2px 0px 0px #F7AD01;
  --shadow-plinko-2: 0px 2px 0px 0px #F7BA01;
  --shadow-plinko-1: 0px 2px 0px 0px #F7C801;
  --shadow-plinko-0: 0px 2px 0px 0px #F8D500;
  --shadow-biggest-win: 0.779px 0.779px 10.126px 0 rgba(28, 207, 89, 0.50);
  --shadow-spin-wheel: 0px 0px 34px 0px #259F4F;

  /* Font */
  --font-sans: 'proxima-nova', 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace', 'sans-serif';
  --font-proximanova: 'proxima-nova', 'sans-serif';

  /* Font size config */
  --text-4xs: 0.375rem;
  --text-3xs: 0.5rem;
  --text-xxs: 0.625rem;
  --text-xxs--line-height: 0.75rem;
  --text-xs: 0.75rem;
  --text-xs--line-height: 0.9375rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.0625rem;
  --text-base: 1rem;
  --text-base--line-height: 1.1875rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.375rem;
  --text-xxl: 1.75rem;
  --text-xxl--line-height: 2.125rem;

  /* Line Height */
  --leading-1: 8px;
  --leading-2: 10px;
  --leading-11: 46px;

  /* Letter spacing */
  --tracking-primary: 0.96px;
  --tracking-card-chip: 0.25px;

  /* Border Radius */
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.625rem;

  /* BreakPoints */
  --breakpoint-xxs: 350px;
  --breakpoint-xs: 400px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-lxl: 1198px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1440px;
  --breakpoint-logo-width: 320px;
  --breakpoint-logo-height: 170px;
  --breakpoint-container: 361px;
  --breakpoint-container-xs: 392px;
  --breakpoint-container-lg: 992px;
  --breakpoint-wrapper: 1400px;
  --breakpoint-pane-main-xs: 140px;
  --breakpoint-pane-main: 820px;
  --breakpoint-pane-tile: 710px;
  --breakpoint-pane-tile-lg: 910px;
  --breakpoint-stage: 800px;

  /* Z-Index */
  --z-100: 100;
  --z-101: 101;
  --z-102: 102;
  --z-103: 103;
  --z-104: 104;

  /* Colors */
  --color-transparent: transparent;
  --color-border: #1D391D;
  --color-disabled-icon: #2B442B;
  --color-error: #F64747;
  --color-heading: #ECF0EC;
  --color-ash: #343A47;
  --color-black: #000000;
  --color-divider: #2E3442;
  --color-divider-dark: #091E09;
  --color-gold: #F5C333;
  --color-navbar: #112411;
  --color-white: #FFFFFF;
  --color-tile-green: #156B33;
  --color-tile: #152F15;
  --color-tile-failed: #274A27;
  --color-tile-failed-dark: var(--color-border);
  --color-vip-wood: #844A1F;
  --color-vip-silver: #BFB9AD;
  --color-vip-gold: #C98E32;
  --color-vip-platinum: #B59CC6;
  --color-vip-diamond: #F6F5E3;
  --color-highlights: #259F4F;
  --color-booster: #02ED3D;
  --color-form-input: #011701;
  --color-alternative-hover: #254825;
  --color-secondary-hover: #208b44;
  --color-current: currentColor;
  --color-paragraph: #ACCCAC;
  --color-brand: #021902;
  --color-disabled-paragraph: #315031;

  --color-gray-200: var(--color-heading);
  --color-yellow-300: #FAF23D;
  --color-zinc-100: #F1F1F1;
  --color-neutral-400: #ACCCAC;
  --color-green-400: #259F4F;
  --color-green-600: #22974A;
  --color-green-950: #112811;
  --color-green-1000: #021902;
  --color-primary: #22974A;
  --color-primary-400: #259F4F;
  --color-primary-600: #22974A;
  --color-primary-950: #112811;
  --color-primary-1000: #021902;
  --color-amber-400: #FCBE20;
  --color-amber-600: #FF7A00;
  --color-red-600: #FF512F;

  --ui-border: var(--color-border);
  --ui-border-muted: var(--color-divider);
  --ui-border-accented: var(--color-divider-dark);
  --ui-bg: var(--color-primary-1000);
  --ui-bg-muted: var(--color-primary-950);
  --ui-bg-accented: var(--color-navbar);
  --ui-bg-elevated: var(--color-brand);
  --ui-text: var(--color-white);
  --ui-text-muted: var(--color-paragraph);
  --ui-text-highlighted: var(--color-paragraph);

  /* Animation */
  --animate-infinite-scroll: leftToHide 35s linear infinite;
  --animate-home-rays: homeRays 4s cubic-bezier(.7,0,.3,1) infinite;
  --animate-shake: shake 0.8s cubic-bezier(.455,.030,.515,.955) both;
  --animate-right-to-left: rightToLeft 0.5s ease-in-out;
  --animate-left-to-hide: leftToHide 0.5s ease-in-out;

  @keyframes leftToHide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes rightToLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes homeRays {
    0% {
      background-position: 160%;
    }
    85%,
    100% {
      background-position: 0;
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      transform: translateX(10px);
    }
    80% {
      transform: translateX(8px);
    }
    90% {
      transform: translateX(-8px);
    }
  }
}
